<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^rdoc/(.*).html(.*)$ https://www.rubydoc.info/gems/gosu/$1$2 [R=301,L]
    RewriteRule ^rdoc(/?)$ https://www.rubydoc.info/gems/gosu/ [R=301,L]

    RewriteCond %{HTTPS} off
    # First rewrite to HTTPS:
    # Don't put www. here. If it is already there it will be included, if not
    # the subsequent rule will catch it.
    RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # Now, rewrite any request to the wrong domain to use www.
    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Required for the "Project of the Day" include.
Options +Includes
XBitHack on
