html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 9px;
  font-family: "Lucida Grande", sans-serif;
  line-height: 125%;
  background: url("background.png") top repeat-x;
  background-size: auto 512px;
}

a img {
  border: 0;
}

#main {
  padding: 25px;
  border-top-right-radius: 0.6em 0.5em;
  background: white;
  width: 90%;
  margin: 120px auto 0px auto;
  max-width: 1234px;
}

#logo_container {
  float: right;
  margin: -106px 0px 10px;
}

#logo_container img {
  margin: -11px -10px -10px 0px;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
}

#tabs {
  margin-top: -54px;
  margin-bottom: 35px;
}

#tabs > * {
  padding: 10px 25px;
  margin-right: 10px;
  border-top-left-radius: 0.6em 0.5em;
  border-top-right-radius: 0.6em 0.5em;
  text-align: center;
  box-shadow: inset 0px 2px 3px white, inset 0px -1px 5px #bbb;
}

#tabs span {
  font-weight: bold;
  background: white;
  border-bottom: 1px solid white;
  box-shadow: none;
}

#tabs a {
  background: #eee;
}

#tabs a:hover {
  text-decoration: none;
}

#tabs > *:first-child {
  margin-left: -25px;
}

#tabs > *:last-child {
  margin-right: 0px;
}

aside {
  float: right;
  clear: right;
  padding: 15px 20px;
  border-radius: 0.6em 0.5em;
  width: 260px;
  margin: -15px 0em 25px 1.5em;
  box-shadow: 0px 1px 5px #999;
}

aside h3 {
  margin: 20px 0px 15px;
}

aside h3:first-child {
  margin-top: 5px;
}

.links a {
  display: inline-block;
  line-height: 175%;
}

.new {
  color: white;
  background: red;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
}

a {
  color: #d20;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 120%;
  margin-top: 1.5em;
}

h3 {
  font-size: 105%;
}

li {
  margin-bottom: 1em;
}

small {
  color: #666;
}

tt {
  color: #333;
  background: #eee;
  padding: 5px 10px;
  font-size: 125%;
  display: inline-block;
  line-height: 150%;
  margin: 2px 0px;
}

small tt {
  padding: 3px;
}

footer {
  margin-top: 5em;
  font-size: 80%;
  text-align: center;
}

.max-width-full {
  max-width: 100%;
}

@media (max-width: 900px) {
  #tabs {
    margin-right: 250px;
  }
  
  #tabs span, #tabs a {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  body {
    padding: 0;
  }
  #main {
    border-top-right-radius: 0;
    box-sizing: border-box;
    margin-top: 200px;
    width: 100%;
  }
  #logo_container img {
    margin-top: -110px;
    margin-right: -15px;
  }
  #tabs {
    margin-right: 0;
  }
  #tabs > *:first-child {
    margin-left: 0px;
  }
  #tabs span, #tabs a {
    padding: 10px 20px;
  }
  aside {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 20px;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid black;
  }
}

@media (max-width: 400px) {
  #logo_container img {
    width: 300px;
  }
  #tabs span, #tabs a {
    padding: 10px 11px;
  }
}
