<p>
  Gosu is a <strong>2D game development library</strong> for Ruby and C++.
</p>

<p>
  It is available for <strong>macOS, Windows, Linux,</strong> and <a href="cpp.html">iOS</a>.
</p>

<p>
  Gosu is focused, lightweight, and has few dependencies (mostly <a href="http://www.libsdl.org/">SDL 2</a>). It provides:
  <ul>
    <li> a window and a main loop
    <li> 2D graphics and text, powered by OpenGL or OpenGL&nbsp;ES
    <li> sounds and music
    <li> keyboard, mouse, and gamepad input
  </ul>
</p>

<p>
  Gosu is mostly used to teach or learn Ruby or in <a href="https://ldjam.com">short game development competitions</a>.
</p>
<p>
  Two games built with Ruby/Gosu have been published on Steam: <a href="https://store.steampowered.com/app/1553840/Super_Bombinhas/">Super Bombinhas</a> and <a href="https://store.steampowered.com/app/1719470/Bloopy__Droopy/">Bloopy &amp; Droopy</a>.
</p>

<h2>Resources</h2>
<p>
  In addition to the documentation linked from the sidebar, there are a few videos about Gosu on YouTube.
</p>
<p>
  <iframe width="560" height="315" class="max-width-full" src="https://www.youtube.com/embed/7gNbj7n2maA" frameborder="0" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" class="max-width-full" src="https://www.youtube.com/embed/QtIlyU2Br3o" frameborder="0" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" class="max-width-full" src="https://www.youtube.com/embed/jJhbpY70miE" frameborder="0" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" class="max-width-full" src="https://www.youtube.com/embed/iLXO2FLPulI" frameborder="0" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" class="max-width-full" src="https://www.youtube.com/embed/H5_Kid3hpRs" frameborder="0" allowfullscreen></iframe>
</p>

<h2>Licensing</h2>
<p>
  Gosu and all documentation © 2001-<%= Time.now.year %> <a href="mailto:julian@raschke.de">Julian Raschke</a>, Jan Lücker, and other contributors. Gosu is released under the MIT licence.
</p>
