<h2>Getting Started</h2>
<p>
  On Windows, you can install Gosu through RubyGems:
  <br>
  <tt>gem install <strong>gosu</strong></tt>
  <br>
  <a style="display: inline-block" href="https://github.com/gosu/gosu/wiki/Getting-Started-on-OS-X">Installation instructions for macOS</a>
  |
  <a style="display: inline-block" href="https://github.com/gosu/gosu/wiki/Getting-Started-on-Linux">Installation instructions for Linux</a>
</p>

<h2>Example Code</h2>
<p>
  Gosu has a companion gem for examples (<a href="https://github.com/gosu/gosu-examples">gosu/gosu-examples</a> on GitHub).
  <br>
  <tt>gem install <strong>gosu-examples</strong>
  <br>
  <strong>gosu-examples</strong> # ...to show the example box</tt>
  <br>
  You can select examples from the right sidebar and jump straight into the source code by pressing <tt>S</tt>.
  <br>
  <img src="gosu-examples.png" width="463" class="max-width-full">
</p>

<h2>Tutorial</h2>
<p>
  We recommend <a href="https://github.com/gosu/gosu/wiki/Ruby-Tutorial">starting with the Ruby Tutorial on the wiki</a>.
  For more documentation, check out the links in the sidebar.
</p>
